table {
	width: 100%;
	padding-bottom: 0%;
}
#ii {
	width: 300px;
}
#mainPanel {
	height: 100%;
	margin: 10px,10px,10px,10px;
}
body, html, table {
	height: 90%;
}

#next, #restart, #stop, #more, #videoBtn {
	width:  250px;
	margin-top: 5px;
}
#infobtn {
	width:  250px;
	margin-top: 20px;
}
.criteria-low {
    background-color: #FFCCCB;
}
form {
    display: inline;
}
.criteria-medium {
    background-color: #FFFFA1;
}
.criteria-high {
    background-color: #90EE90;
}
/* Make table responsive */

@media (max-width: 640px) {
    table {
        font-size: 0.8rem;
    }
    th, td {
        padding: 0.5rem 0.25rem;
    }
}
/* Additional custom styles can be added here */