# requirements.txt
lmfit
numpy==1.23.*
mediapipe
plotly
statsmodels>=0.13.1
biosppy
scikit-image
scikit_posthocs
autorank
tensorrt
protobuf>=4.25.3

tensorflow>=2.15.0 # Более старые версии не поддерживают cuDNN 8.9
scikit-learn 
torch #==2.3.0
torchaudio 
onnxruntime 
nvidia-cudnn-cu12==8.9.*
# PyAudio 
jupyterplot 
webrtcvad 
sounddevice 
transformers 
accelerate