<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>
        Детектор состояния человека | LaboRad
    </title>
    <script src="{{ url_for('static', filename='packages/tailwindcss.js') }}">
    </script>
    <script src="{{ url_for('static', filename='packages/chart.umd.min.js') }}">
    </script>
    </meta>
    </meta>
    <style>
        .outer {
            display: flex;
            width: 100%;
            height: 100%;
        }

        .inner {
            margin: auto;
            background: red;
        }

        .blocks {
            height: 100%;
        }

        body,
        html {
            height: 100%;
        }
    </style>
</head>

<body>
    <div class="outer">
        <div class="inner bg-white rounded-lg shadow-md p-6">
            <h1 align="center" class="text-xl font-semibold mb-4">
                Добро пожаловать!
            </h1>
            <h2 align="center" class="text-x font-semi mb-4">
                Выберите устройство
            </h2>
            <div class="mb-3">
                <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-lg shadow-md p-4 blocks"
                    style="margin: auto;" onclick="document.location='desktop'">
                    Десктопное устройство
                </button>
                <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-lg shadow-md p-4 blocks"
                    style="margin: auto;" onclick="document.location='mobile'">
                    Мобильное устройство
                </button>
                <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-lg shadow-md p-4 blocks"
                    style="margin: auto;" onclick="document.location='tablet'">
                    Планшет
                </button>
            </div>
            <!-- <button class="bg-green-500 hover:bg-green-600 text-white font-bold rounded-lg shadow-md p-4 blocks w-full" style="margin: auto;" onclick="document.location='linear'">
                    Линейная версия интерфейса
                </button> -->
            <div class="mt-9">
                <h2 align="center" class="text-x font-semi mb-3">
                    Или посмотрите
                </h2>
                <button
                    class="bg-purple-500 hover:bg-purple-600 text-white font-bold rounded-lg shadow-md p-4 blocks w-full"
                    id="infobtn" onclick="document.location='https://github.com/tphlru/rzd_detector'">
                    Репозиторий
                </button>
                <button
                    class="bg-purple-500 hover:bg-purple-600 text-white font-bold rounded-lg shadow-md p-4 blocks mt-3 w-full"
                    id="infobtn" onclick="document.location='https://tphlru.github.io/rzd_detector/docs'">
                    Документация
                </button>
            </div>
            <h2 align="center" class="text-x font-semi mt-3">
                Версия - 2025.02.23a
            </h2>
        </div>
    </div>
</body>

</html>