<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
                <title>
                    Выберите устройство - Детектор состояния человека | LaboRad
                </title>
                <script src="{{ url_for('static', filename='packages/tailwindcss.js') }}">
                </script>
                <script src="{{ url_for('static', filename='packages/chart.umd.min.js') }}">
                </script>
            </meta>
        </meta>
        <style>
            .outer {
                display: flex;
                width: 100%;
                height: 100%;
            }

            .inner {
                margin: auto;
                background: red;
            }
            .blocks {
                height: 100%;
            }
            body,html {
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div class="outer">
            <div class="inner bg-white rounded-lg shadow-md p-6">
                
            </div>
        </div>
        <script>
        	
        </script>
    </body>
</html>