<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
                <title>
                    LaboRad - Детектор состояния человека
                </title>
                <script src="{{ url_for('static', filename='packages/tailwindcss.js') }}">
                </script>
                <script src="{{ url_for('static', filename='packages/chart.umd.min.js') }}">
                </script>
                
                <link href="{{ url_for('static', filename='css/tablet.css') }}" rel="stylesheet">
                    <link href="{{ url_for('static', filename='resources/icon.png') }}" rel="shortcut icon" type="image/png">
                    </link>
                </link>
                <script src="{{ url_for('static', filename='packages/socket.io.js') }}">
                </script>
            </meta>
        </meta>
    </head>
    <body>
        <table bgcolor="#D6D6D6">
            <tr>
                <td id="ii" valign="top">
                    <div class="bg-white rounded-lg shadow-md p-6 mt-3 mr-3" id="mainPanel">
                        <h1 class="text-2xl font-bold text-center text-gray-800">
                            Панель управления
                        </h1>
                        <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded w-full sm:w-auto" id="next">
                            Следующий
                        </button>
                        <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded w-full sm:w-auto" id="restart">
                            Начать заново
                        </button>
                        <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded w-full sm:w-auto" id="stop">
                            Остановить
                        </button>
                        <button class="bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded w-full sm:w-auto" id="more">
                            Показать подробную информацию
                        </button>
                        <button class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded w-full sm:w-auto" id="videoBtn" onclick="showPopupVideo()">
                            Показать запись
                        </button>
                        <div class="mt-2 mb-2">
                            <label class="block text-sm font-medium text-gray-700">
                                Устройство
                            </label>
                            <select class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="deviceSelect">
                                <option {% if data.deviceSelect == 'Устройство 1' %}selected{% endif %}>
                                    Устройство 1
                                </option>
                                <option {% if data.deviceSelect == 'Устройство 2' %}selected{% endif %}>
                                    Устройство 2
                                </option>
                                <option {% if data.deviceSelect == 'Неизвестное устройство' %}selected{% endif %}>
                                    Неизвестное устройство
                                </option>
                            </select>
                        </div>
                        <div class="dropdown">
                            <label class="block text-sm font-medium text-gray-700">
                                Настройка подсчета
                            </label>
                            <span class="block text-sm text-gray-600">
                                Учитывать при подсчете
                            </span>
                            <ul class="mt-2 space-y-2">
                                <li>
                                    <input type="checkbox" id="emotional" {% if data.emotional %}checked{% endif %}>
                                        <label class="ml-2 text-gray-700" for="emotional">
                                            Эмоциональное состояние
                                        </label>
                                    </input>
                                </li>
                                <li>
                                    <input type="checkbox" id="physical" {% if data.physical %}checked{% endif %}>
                                        <label class="ml-2 text-gray-700" for="physical">
                                            Физическое состояние
                                        </label>
                                    </input>
                                </li>
                                <li>
                                    <input type="checkbox" id="seasonal" {% if data.seasonal %}checked{% endif %}>
                                        <label class="ml-2 text-gray-700" for="seasonal">
                                            Сезонность одежды
                                        </label>
                                    </input>
                                </li>
                                <li>
                                    <input type="checkbox" id="subjective" {% if data.subjective %}checked{% endif %}>
                                        <label class="ml-2 text-gray-700" for="subjective">
                                            Субъективная оценка
                                        </label>
                                    </input>
                                </li>
                                <li>
                                    <input type="checkbox" id="statistical" {% if data.statistical %}checked{% endif %}>
                                        <label class="ml-2 text-gray-700" for="statistical">
                                            Статистическая оценка
                                        </label>
                                    </input>
                                </li>
                            </ul>
                        </div>
                        <button class="bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded w-250 sm:w-auto mt-3" id="reportButton" onclick="showPopup()">
                            Показать отчет
                        </button>

                        <label class="block text-sm font-medium text-gray-700 mt-3">
                            Выберите видео
                        </label>
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <input class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 mt-1 rounded w-full sm:w-auto" type="file" name="files" multiple>
                            <input class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 mt-1 rounded w-full sm:w-auto" type="submit" value="Загрузить">
                        </form>
                        
                        <footer class="text-center text-sm text-gray-600">
                            <p>
                                Создано в рамках конкурса "Инженеры транспорта" командой LaboRad
                            </p>
                            <p>
                                Наш ВК -
                                <a class="text-blue-500 hover:text-blue-600" href="https://vk.com/laborad" target="_blank">
                                    https://vk.com/laborad
                                </a>
                            </p>
                            <p>
                                Версия приложения - 2025.02.23a
                            </p>
                        </footer>
                    </div>
                    <div class="bg-white rounded-lg shadow-md p-6 p-6 mt-3 mr-3" id="videoPanel">
                        <h2 class="text-xl font-semibold mb-4">
                            Видео
                        </h2>
                        <div class="aspect-w-16 aspect-h-9">
                            <video class="rounded-lg w-full" controls="">
                                <source id="video" src="{{ url_for('static', filename='resources/video2.mp4') }}" type="video/mp4">
                                    Возникла ошибка при загрузке видео, попробуйте перезагрузить страницу и убедитесь что Ваше устройство поддерживает видео. Если вам нужна помощь, напишите нам >
                                    <a class="text-blue-500 hover:text-blue-600" href="https://vk.com/laborad" target="_blank">
                                        https://vk.com/laborad
                                    </a>
                                    .
                                </source>
                            </video>
                        </div>
                    </div>
                </td>
                <td colspan="2">
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-2 mr-3" id="data">
                        <!-- First Nested Panel (No Title) -->
                        <div class="bg-white rounded-lg shadow-md p-6 mb-6">
                            <h2 class="text-xl font-semibold mb-4">
                                Данные
                            </h2>
                            <div class="space-y-4">
                                <div>
                                    <label class="block text-sm font-medium text-gray-700">
                                        Пол
                                    </label>
                                    <select class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="genderSelect">
                                        <option disabled {% if not data.gender %}selected{% endif %}>
                                            Выберите...
                                        </option>
                                        <option {% if data.gender == 'Мужской' %}selected{% endif %}>
                                            Мужской
                                        </option>
                                        <option {% if data.gender == 'Женский' %}selected{% endif %}>
                                            Женский
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    <label class="block text-sm font-medium text-gray-700">
                                        Возраст
                                    </label>
                                    <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="ageInput" type="number" value="{{ data.age }}">
                                    </input>
                                </div>
                                <div>
                                    <label class="block text-sm font-medium text-gray-700">
                                        Место посадки/высадки
                                    </label>
                                    <div class="flex mt-1">
                                        <input class="block w-full rounded-l-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="departureInput" placeholder="Посадка" type="text" value="{{ data.departure }}">
                                            <input class="block w-full rounded-r-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="arrivalInput" placeholder="Высадка" type="text" value="{{ data.arrival }}">
                                            </input>
                                        </input>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Second Nested Panel (With Title) -->
                        <div class="bg-white rounded-lg shadow-md p-6">
                            <h3 class="text-lg font-semibold mb-4">
                                Социальное взаимодействие
                            </h3>
                            <div class="space-y-4">
                                <div>
                                    <label class="block text-sm font-medium text-gray-700">
                                        Субъективная оценка
                                    </label>
                                    <div class="mt-2 flex items-center space-x-4">
                                        <label class="inline-flex items-center">
                                            <input class="form-radio" type="radio" name="subjective_rating" value="-2" {% if data.subjective_rating == -2 %}checked{% endif %}>
                                                <span class="ml-2">
                                                    -2
                                                </span>
                                            </input>
                                        </label>
                                        <label class="inline-flex items-center">
                                            <input class="form-radio" type="radio" name="subjective_rating" value="-1" {% if data.subjective_rating == -1 %}checked{% endif %}>
                                                <span class="ml-2">
                                                    -1
                                                </span>
                                            </input>
                                        </label>
                                        <label class="inline-flex items-center">
                                            <input class="form-radio" type="radio" name="subjective_rating" value="0" {% if data.subjective_rating == 0 %}checked{% endif %}>
                                                <span class="ml-2">
                                                    0
                                                </span>
                                            </input>
                                        </label>
                                        <label class="inline-flex items-center">
                                            <input class="form-radio" type="radio" name="subjective_rating" value="1" {% if data.subjective_rating == 1 %}checked{% endif %}>
                                                <span class="ml-2">
                                                    +1
                                                </span>
                                            </input>
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <label class="block text-sm font-medium text-gray-700">
                                        Первый вопрос
                                    </label>
                                    <input class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" id="question1" type="text" value="{{ data.question1 }}">
                                    </input>
                                </div>
                                <div>
                                    <label class="block text-sm font-medium text-gray-700">
                                        Второй вопрос
                                    </label>
                                    <div class="mt-2 flex items-center space-x-4">
                                        <label class="inline-flex items-center">
                                            <input type="checkbox" name="question2" value="1" {% if '1' in data.question2 %}checked{% endif %}>
                                                <span class="ml-2">
                                                    1
                                                </span>
                                            </input>
                                        </label>
                                        <label class="inline-flex items-center">
                                            <input type="checkbox" name="question2" value="2" {% if '2' in data.question2 %}checked{% endif %}>
                                                <span class="ml-2">
                                                    2
                                                </span>
                                            </input>
                                        </label>
                                        <label class="inline-flex items-center">
                                            <input type="checkbox" name="question2" value="3" {% if '3' in data.question2 %}checked{% endif %}>
                                                <span class="ml-2">
                                                    3
                                                </span>
                                            </input>
                                        </label>
                                        <label class="inline-flex items-center">
                                            <input type="checkbox" name="question2" value="4" {% if '4' in data.question2 %}checked{% endif %}>
                                                <span class="ml-2">
                                                    4
                                                </span>
                                            </input>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white rounded-lg shadow-md p-6 mt-6 mr-3" id="criteriaTable">
                        <h2 class="text-xl font-semibold mb-4">
                            Критерии
                        </h2>
                        <div class="overflow-x-auto">
                            <table class="min-w-full divide-y divide-gray-200">
                                <thead>
                                    <tr>
                                        <th>Критерий</th>
                                        <th>Баллы</th>
                                    </tr>
                                </thead>
                                <tbody id="criteriaTableBody">
                                    {% for category, info in data.criteria.items() %}
                                    <tr class="criteria-row {% if not info.enabled %}disabled-row{% endif %}" data-category="{{ category }}">
                                        <td>{{ info.name }}</td>
                                        <td class="score-cell">
                                            <div class="score-indicator" 
                                                data-score="{{ info.score }}" 
                                                data-max="{{ info.max_score }}">
                                                {{ info.score }}/{{ info.max_score }}
                                            </div>
                                        </td>
                                    </tr>
                                    {% if info.sublevels %}
                                        {% for sublevel, sub_info in info.sublevels.items() %}
                                        <tr class="sublevel-row {% if not info.enabled %}disabled-row{% endif %}" data-category="{{ category }}" data-sublevel="{{ sublevel }}">
                                            <td style="padding-left: 30px">- {{ sublevel }}</td>
                                            <td class="score-cell">
                                                <div class="score-indicator" 
                                                    data-score="{{ sub_info.score }}" 
                                                    data-max="{{ sub_info.max_score }}">
                                                    {{ sub_info.score }}/{{ sub_info.max_score }}
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="bg-white rounded-lg shadow-md gap-8 mt-2 mr-3 ml-3 p-6 mb-3" id="grafics">
            <h2 class="text-xl font-semibold mb-4">
                Графики
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
                <!-- Pulse Graph -->
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h3 class="text-lg font-semibold mb-4">
                        Пульс
                    </h3>
                    <div class="text-2xl text-center" id="pulseStatus">
                        {{ data.pulse_status }}
                    </div>
                    <img class="hidden cursor-pointer w-full h-auto" id="pulseImage" onclick="openImageFullscreen(this.src)" src="{{ url_for('static', filename='disgust.png') }}">
                    </img>
                </div>
                <!-- Breathing Frequency Graph -->
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h3 class="text-lg font-semibold mb-4">
                        Частота дыхания
                    </h3>
                    <div class="text-2xl text-center" id="breathingStatus">
                        {{ data.breathing_status }}
                    </div>
                    <img class="hidden cursor-pointer w-full h-auto" id="breathingImage" onclick="openImageFullscreen(this.src)" src="{{ url_for('static', filename='resp.png') }}">
                    </img>
                </div>
                <!-- Blinking Frequency Graph -->
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h3 class="text-lg font-semibold mb-4">
                        Частота моргания
                    </h3>
                    <div class="text-4xl font-bold text-center" id="blinkingValue">
                        {{ data.blinking_value }}
                    </div>
                    <canvas id="blinkingChart" style="display: none;">
                    </canvas>
                    <div class="text-lg mt-4 text-center" id="blinkingMedian">
                    </div>
                </div>
                <!-- Facial Emotion Graph -->
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h3 class="text-lg font-semibold mb-4">
                        Эмоция лица
                    </h3>
                    <canvas id="emotionsChart">
                    </canvas>
                </div>
                <!-- Voice Emotion Graph -->
                <div class="bg-white rounded-lg shadow-md p-6">
                    <h3 class="text-lg font-semibold mb-4">
                        Эмоция голоса
                    </h3>
                    <canvas id="voiceChart">
                    </canvas>
                </div>
                <!-- Voice Distortion (Hidden by Default) -->
                <div class="bg-white rounded-lg shadow-md p-6 hidden" id="voiceDistortion">
                    <h3 class="text-lg font-semibold mb-4">
                        Искажения голоса
                    </h3>
                    <div class="space-y-4">
                        <div>
                            <p class="text-sm text-gray-600">
                                Спрогнозированная фундаментальная частота голоса (в разработке)
                            </p>
                            <p class="text-lg font-semibold">
                                140
                            </p>
                        </div>
                        <div>
                            <p class="text-sm text-gray-600">
                                Измеренная фундаментальная частота
                            </p>
                            <p class="text-lg font-semibold">
                                148
                            </p>
                        </div>
                        <div>
                            <p class="text-sm text-gray-600">
                                Спазмы (QNMVS)
                            </p>
                            <p class="text-lg font-semibold text-green-500">
                                32
                            </p>
                        </div>
                        <div>
                            <p class="text-sm text-gray-600">
                                Вердикт
                            </p>
                            <p class="text-lg font-semibold text-green-500">
                                нормально
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden" id="popup-overlay">
            <div class="bg-white rounded-lg shadow-lg p-6" id="popup">
                <h2 class="text-xl font-semibold mb-4">
                    Отчет
                </h2>
                <table class="min-w-full divide-y divide-gray-200">
                    <tr>
                        <td>
                            <img alt="Image 1" class="w-full h-auto" id="img1" src="{{ url_for('static', filename='resources/image1.png') }}"/>
                        </td>
                        <td>
                            <img alt="Image 2" class="w-full h-auto" id="img2" src="{{ url_for('static', filename='resources/image2.png') }}"/>
                        </td>
                        <td>
                            <img alt="Image 3" class="w-full h-auto" id="img3" src="{{ url_for('static', filename='resources/image3.png') }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img alt="Image 4" class="w-full h-auto" id="img4" src="{{ url_for('static', filename='resources/image4.png') }}"/>
                        </td>
                        <td>
                            <img alt="Image 5" class="w-full h-auto" id="img5" src="{{ url_for('static', filename='resources/image5.png') }}"/>
                        </td>
                        <td>
                            <img alt="Image 6" class="w-full h-auto" id="img6" src="{{ url_for('static', filename='resources/image6.png') }}"/>
                        </td>
                    </tr>
                </table>
                <button class="mt-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded" onclick="closePopup()">
                    Закрыть
                </button>
            </div>
        </div>
        <div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden" id="popup-overlay-video">
            <div class="bg-white rounded-lg shadow-lg p-6" id="popup-video">
                <h2 class="text-xl font-semibold mb-4">
                    Записи
                </h2>
                <video class="rounded-lg w-full" controls="">
                    <source src="{{ url_for('static', filename='resources/video2.mp4') }}" type="video/mp4">
                        Ваш браузер не поддерживает воспроизведение видео.
                    </source>
                </video>
                <button class="mt-4 bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded" onclick="closePopupVideo()">
                    Закрыть
                </button>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/tablet.js') }}">
        </script>
        <script src="{{ url_for('static', filename='camera.js') }}">
        </script>
    </body>
</html>