[Unit]
Description=PiWorker
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/{{ homeusername }}/rpi/
ExecStart=/usr/bin/python3 /home/{{ homeusername }}/rpi/piworker.py
Restart=always
StartLimitInterval=15

[Install]
WantedBy=multi-user.target